@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Roboto:wght@300;400;700&display=swap');

body {
    padding: 2rem;
    font-size: 18px;
    font-family: 'Roboto', san-serif;
    color: #222;
    background: #39cccc;
    max-width: 50rem;
    margin: 0 auto;
}

nav {
    margin-bottom: 3rem;
    line-height: 2.7rem;
}

nav a:hover {
    cursor: pointer;
}

hr { border: 1px dashed #fff; }

h1 {
    text-decoration: underline;
    margin: 0;
    font-size: 3rem;
}

h2 {
    font-size: 2.2rem;
    margin-top: 0;
}
h3 {
    font-size: 1.6rem;
    margin-top: 0;
}
h4 {
    font-size: 1.3rem;
    margin-top: 0;
}

.subtitle {
    margin: 1rem 0;
}

article {
    border: 5px solid white;
    background: #FFDC00;
    padding: 1rem;
    margin-bottom: 1rem;
}

article > article {
    background: #FF851B;
}

article > article > article {
    background: #FF4136;
}

p {
    line-height: 2.7rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Calistoga', cursive;
    color: #fff;
    text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

ul {
    list-style: none;
    padding-inline-start: 0;
}

li {
    line-height: 2.7rem;
}

a {
    font-family: 'Calistoga', cursive;
    color: #fff;
    text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
    padding: .5rem;
    background: #222;
}

a:hover {
    background: #000;
    outline: 5px solid #fff;
}

footer {
    float: right;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

footer a {
    text-decoration: none;
    background: #FFDC00;
}

@media screen and (max-width: 640px) {
    body {
        font-size: 14px;
        padding: .5rem;
    }

    nav {
        margin-bottom: 1rem;
    }
    
    h1 {
        
        margin: 0;
        font-size: 2.3rem;
    }

    .subtitle {
        margin: 0;
    }
    
    h2 {
        font-size: 1.8rem;
        margin-top: 0;
    }
    h3 {
        font-size: 1.3rem;
        margin-top: 0;
    }
    h4 {
        font-size: 1rem;
        margin-top: 0;
    }

    article {
        padding: .5rem;
    }
}